body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(14,78,103);
    color: #fff;
    padding: 20px;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

.contribute-info {
    max-width: 600px;
    margin: auto;
}

.contribute-info h2 {
    margin-top: 0;
}

.contribute-info ol {
    padding-left: 20px;
}

.contribute-info ol li {
    margin-bottom: 10px;
}

footer {
    background-color: #f4f4f4;
    padding: 10px 20px;
    text-align: center;
}
