/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

center{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:50%;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f8f8f8;
}

header {
    background-color:rgb(14,78,103) ;
    color: #fff;
    padding: 20px;
}
body background 
background-color{
    color:0E4A67;
}
header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

.about-section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

footer {
    background-color: 0E4A67;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
